<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>xarql.net</display-name>
  <servlet>
    <description></description>
    <display-name>UploadPage</display-name>
    <servlet-name>UploadPage</servlet-name>
    <servlet-class>net.xarql.serve.UploadPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>net.xarql.serve.UploadPage</servlet-name>
    <url-pattern>/-/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadProcessor</display-name>
    <servlet-name>UploadProcessor</servlet-name>
    <servlet-class>net.xarql.serve.UploadProcessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>net.xarql.serve.UploadProcessor</servlet-name>
    <url-pattern>/-/upload_endpoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Viewer</display-name>
    <servlet-name>Viewer</servlet-name>
    <servlet-class>net.xarql.serve.Viewer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>net.xarql.serve.Viewer</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Provides Access To Static Files On Server</description>
    <display-name>Static</display-name>
    <servlet-name>Static</servlet-name>
    <servlet-class>net.xarql.serve.Static</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>net.xarql.serve.Static</servlet-name>
    <url-pattern>/-/static/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Source</display-name>
    <servlet-name>Source</servlet-name>
    <servlet-class>net.xarql.serve.Source</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>net.xarql.serve.Source</servlet-name>
    <url-pattern>/-/src/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Error</display-name>
    <servlet-name>Error</servlet-name>
    <servlet-class>net.xarql.serve.Error</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>net.xarql.serve.Error</servlet-name>
    <url-pattern>/-/error</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/-/error?code=404</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/-/error?code=403</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/-/error?code=401</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/-/error?code=400</location>
  </error-page>
  <filter>
    <filter-name>ExpiresFilter</filter-name>
    <filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
    <init-param>
      <param-name>ExpiresByType image</param-name>
      <param-value>access plus 1 day</param-value>
    </init-param>
    <init-param>
      <param-name>ExpiresByType text/css</param-name>
      <param-value>access plus 1 day</param-value>
    </init-param>
    <init-param>
      <param-name>ExpiresByType application/javascript</param-name>
      <param-value>access plus 1 day</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ExpiresFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
</web-app>