<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>xarql.com</display-name>
  <welcome-file-list>
    <welcome-file>/src/welcome/welcome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.xarql.main.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.main.Welcome</servlet-name>
    <url-pattern>//*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.xarql.main.Welcome</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Error</display-name>
    <servlet-name>Error</servlet-name>
    <servlet-class>com.xarql.main.Error</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.main.Error</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Provides Authentication Options</description>
    <display-name>AuthMainPage</display-name>
    <servlet-name>AuthMainPage</servlet-name>
    <servlet-class>com.xarql.auth.AuthMainPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.auth.AuthMainPage</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Returns Authentication Status</description>
    <display-name>AuthStatus</display-name>
    <servlet-name>AuthStatus</servlet-name>
    <servlet-class>com.xarql.auth.AuthStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.auth.AuthStatus</servlet-name>
    <url-pattern>/auth/status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Google Authentication</description>
    <display-name>GoogleHandler</display-name>
    <servlet-name>GoogleHandler</servlet-name>
    <servlet-class>com.xarql.auth.GoogleHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.auth.GoogleHandler</servlet-name>
    <url-pattern>/auth/google</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Recaptcha Authentication</description>
    <display-name>RecaptchaHandler</display-name>
    <servlet-name>RecaptchaHandler</servlet-name>
    <servlet-class>com.xarql.auth.RecaptchaHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.auth.RecaptchaHandler</servlet-name>
    <url-pattern>/auth/recaptcha</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Allows reporting of posts</description>
    <display-name>ReportProcessor</display-name>
    <servlet-name>ReportProcessor</servlet-name>
    <servlet-class>com.xarql.flag.ReportProcessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.flag.ReportProcessor</servlet-name>
    <url-pattern>/flag/report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Gives a form to report</description>
    <display-name>ReportPage</display-name>
    <servlet-name>ReportPage</servlet-name>
    <servlet-class>com.xarql.flag.ReportPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.flag.ReportPage</servlet-name>
    <url-pattern>/flag</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Blog</description>
    <display-name>Blog</display-name>
    <servlet-name>Blog</servlet-name>
    <servlet-class>com.xarql.main.Blog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.main.Blog</servlet-name>
    <url-pattern>/blog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Polr</display-name>
    <servlet-name>Polr</servlet-name>
    <servlet-class>com.xarql.main.Polr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.main.Polr</servlet-name>
    <url-pattern>/polr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PathReader</display-name>
    <servlet-name>PathReader</servlet-name>
    <servlet-class>com.xarql.polr.PathReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.polr.PathReader</servlet-name>
    <url-pattern>/polr/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostProcessor</display-name>
    <servlet-name>PostProcessor</servlet-name>
    <servlet-class>com.xarql.polr.PostProcessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.polr.PostProcessor</servlet-name>
    <url-pattern>/polr/post</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>provide replies for updating page without reload</description>
    <display-name>Updt</display-name>
    <servlet-name>Updt</servlet-name>
    <servlet-class>com.xarql.polr.Updt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.polr.Updt</servlet-name>
    <url-pattern>/polr/updt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>searches</description>
    <display-name>PolrFind</display-name>
    <servlet-name>PolrFind</servlet-name>
    <servlet-class>com.xarql.polr.PolrFind</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.polr.PolrFind</servlet-name>
    <url-pattern>/polr/find</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>browsing</description>
    <display-name>PolrFlat</display-name>
    <servlet-name>PolrFlat</servlet-name>
    <servlet-class>com.xarql.polr.PolrFlat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.polr.PolrFlat</servlet-name>
    <url-pattern>/polr/flat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Remove A Post</description>
    <display-name>PolrEdit</display-name>
    <servlet-name>PolrEdit</servlet-name>
    <servlet-class>com.xarql.polr.edit.PolrEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.polr.edit.PolrEdit</servlet-name>
    <url-pattern>/polr/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Get posts with hashtags</description>
    <display-name>PolrHash</display-name>
    <servlet-name>PolrHash</servlet-name>
    <servlet-class>com.xarql.polr.PolrHash</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.polr.PolrHash</servlet-name>
    <url-pattern>/polr/hash</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chat</display-name>
    <servlet-name>Chat</servlet-name>
    <servlet-class>com.xarql.main.Chat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.main.Chat</servlet-name>
    <url-pattern>/chat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendProcessor</display-name>
    <servlet-name>SendProcessor</servlet-name>
    <servlet-class>com.xarql.chat.SendProcessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.chat.SendProcessor</servlet-name>
    <url-pattern>/chat/send</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatUpdt</display-name>
    <servlet-name>ChatUpdt</servlet-name>
    <servlet-class>com.xarql.chat.ChatUpdt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.chat.ChatUpdt</servlet-name>
    <url-pattern>/chat/updt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>A canvas of pixels that can be edited one at a time</description>
    <display-name>Pexl</display-name>
    <servlet-name>Pexl</servlet-name>
    <servlet-class>com.xarql.main.Pexl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.main.Pexl</servlet-name>
    <url-pattern>/pexl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Conf</display-name>
    <servlet-name>Conf</servlet-name>
    <servlet-class>com.xarql.main.Conf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.main.Conf</servlet-name>
    <url-pattern>/conf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Help</display-name>
    <servlet-name>Help</servlet-name>
    <servlet-class>com.xarql.main.Help</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.main.Help</servlet-name>
    <url-pattern>/help</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Sends users to appropriate .jsp pages</description>
    <display-name>HelpDispatcher</display-name>
    <servlet-name>HelpDispatcher</servlet-name>
    <servlet-class>com.xarql.help.HelpDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.help.HelpDispatcher</servlet-name>
    <url-pattern>/help/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Jott it down</description>
    <display-name>Jott</display-name>
    <servlet-name>Jott</servlet-name>
    <servlet-class>com.xarql.main.Jott</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.xarql.main.Jott</servlet-name>
    <url-pattern>/jott</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>410</error-code>
    <location>/error?code=410</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error?code=404</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/error?code=403</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/error?code=401</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/error?code=400</location>
  </error-page>
  <filter>
    <filter-name>ExpiresFilter</filter-name>
    <filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
    <init-param>
      <param-name>ExpiresByType image</param-name>
      <param-value>access plus 1 day</param-value>
    </init-param>
    <init-param>
      <param-name>ExpiresByType text/css</param-name>
      <param-value>access plus 1 day</param-value>
    </init-param>
    <init-param>
      <param-name>ExpiresByType application/javascript</param-name>
      <param-value>access plus 1 day</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ExpiresFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
</web-app>