// Partial file
@charset "UTF-8";
@import "variables";
#wrapper,
html,
body {
  font-display: swap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #f2f2f2;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6, p {
  font-family: inherit;
}

div .centered {
  display: flex;
  justify-content: center;
}

::selection {
  background: rgba(0, 100, 255, 0.4);
}

.bold {
  font-weight: bold;
}

code {
  @extend .code;
}

.code {
  font-family: monospace;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.warn {
  color: #ff0000;
}

.strike {
  text-decoration: line-through;
}

h1 {
  font-size: 6rem;
  font-weight: 100;
  margin: .5em 0 .5em 0;
  letter-spacing: .09375rem;
}

h2 {
  font-size: 3.75rem;
  font-weight: 200;
  margin: .5em 0 .5em 0;
  letter-spacing: .03125rem;
}

h3 {
  font-size: 3rem;
  font-weight: 300;
  margin: .5em 0 .5em 0;
  letter-spacing: 0rem;
}

h4 {
  font-size: 2.125rem;
  font-weight: 400;
  margin: .5em 0 .5em 0;
  letter-spacing: .015625rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: .5em 0 .5em 0;
  letter-spacing: 0rem;
}

h6 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: .5em 0 .5em 0;
  letter-spacing: .009375rem;
}

.subtitle {
  margin: .5em 0 .5em 0;
  letter-spacing: .009375rem;
}

.subtitle2 {
  font-size: .875rem;
  font-weight: 600;
  margin: .5em 0 .5em 0;
  letter-spacing: .00625rem;
}

p {
  margin: .5em 0 .5em 0;
  letter-spacing: .03125rem;
  word-break: normal;
  word-wrap: break-word;
  font-weight: normal;
}

.small {
  font-size: .875rem;
  margin: .5em 0 .5em 0;
  letter-spacing: .015625rem;
}

.overline {
  font-size: .625rem;
  margin: .5em 0 .5em 0;
  letter-spacing: .09375rem;
  text-transform: uppercase;
  font-weight: normal;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

#column {
  display: block;
  max-width: 100%;
  padding: 4vh 0.4vw 0px 0.4vw;
}

.card {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 40rem;
  max-width: 100%;
  text-align: left;
  border: 0;
  border-radius: .4rem;
}

.small-card {
  @extend .card;
  min-height: 3rem;
  margin: 0 0 1rem 0;
  padding: 0.4rem 0.8rem 0.2rem 0.8rem;
}

.large-card {
  @extend .card;
  min-height: 12rem;
  margin: 0 0 1.2rem 0;
  padding: 1rem 3% 1.5rem 3%;
}

.spacer::after {
  content: '-';
  color: transparent;
}

a {
  text-decoration: none;
  color: #00f;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

a:active {
  position: relative;
  top: .05rem;
}

a:visited {
  color: #00f;
}

.button {
  @extend button;
}

button {
  font-size: .875rem;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  margin: 3px;
  padding: .5rem 1rem;
  letter-spacing: .046875rem;
  border: 1px;
  border-radius: .15rem;
  outline: 0;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

button:active {
  box-shadow: 0 0 0.4rem rgba(0, 0, 255, 0.6);
}

.centered {
  width: 100%;
  text-align: center;
}

form {
  font-size: 1rem;
  font-family: inherit;
}

form input {
	font-size: 1rem;
	font-family: inherit;
  border-width: thin;
  border-style: dashed;
  border-color: #444;
}

form input:active {
  border-style: solid;
}

form input:focus {
  border-style: solid;
}

form textarea {
	font-size: 1rem;
	font-family: inherit;
  border-width: thin;
  border-style: dashed;
  border-color: #444;
}

form textarea:active {
  border-style: solid;
}

form textarea:focus {
  border-style: solid;
}

select {
  border: 0px;
  outline: 0px;
  margin: .5em 0 .5em 0;
  letter-spacing: .03125rem;
  font-size: 0.875rem;
  padding: 0.2rem;
  border-radius: 0;
  margin: 0;
  font-weight: 400;
}

select:hover
{
  text-decoration: underline;
  cursor: pointer;
}

xmp {
  word-break: normal;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.link-card {
  position: relative;
}

.link {
  display: inline;
  margin: 1rem;
}

.link-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.link-span {
  margin-top: 0.5rem;
}

#error-title {
  margin: 1rem 0rem 0rem 0rem;
}

#error-code {
  margin: 0 0 0 0;
  line-height: 5rem;
}

#xarql
{
  @extend h3;
  letter-spacing: .09375rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
}

#moto
{
  @extend .overline;
  width: 100%;
  text-align: center;
  margin-top: 0px;
  font-size: 0.8rem;
}

#breaker
{
  height: 5rem;
  width: 1rem;
}

#jott-card {
  @extend .large-card;
  padding: 0.2rem;
}

#jott-text {
  width: 100%;
  height: 24rem;
  resize: vertical;
  font-family: monospace;
  border-radius: 0.1rem;
}


.welcome {
  &-wrapper {
    background-color: $color-bg;
    width: 100vw;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    
    display: flex;
    flex-direction: column;
    
    @media (max-width: 1100px) {
      height: auto;
    }
  }

  &-top {
    flex: 0 0 22%;
    padding: 0 12rem 0 12rem;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  
    position: relative;
    
    @media (max-width: 1000px) {
      padding: 0;
    }
    
    @media (min-width: 1500px) {
      flex: 0 0 25%;
      padding: 0 15rem 0 15rem;
    }
  
    @media (min-width: 1800px) {
      padding: 0 20rem 0 20rem;
    }
  }

  &-top-left {
    flex: 0 0 50%;
    display: flex;
    align-items: flex-end;
    
    @media (max-width: 1000px) {
      justify-content: center;
      flex: 0 0 100%;
    }
  }

  &-logo { 
    width: 350px;
    margin-bottom: -75px;
    z-index: 100;
    margin-left: -22px;
    
    @media (max-width: 1000px){
      width: 250px;
      margin-bottom: -85px;
      justify-self: center;
      margin-left: 0; 
    }
    
    @media (min-width: 1500px) {
      width: 400px;
      margin-bottom: -70px;
    }
  }

  &-top-right {
    flex: 0 0 35%;
  }

  &-bottom {
    background-color: $color-bg-2;
    padding: 2rem 12rem 2rem 12rem;
    
    flex: 1;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media (max-width: 1100px) {
      flex-direction: column;
      justify-content: space-around;
      align-items: space-evenly;
    }
    
    @media (max-width: 1000px) {
      padding: 3rem 1rem 3rem 1rem;
    }
    @media (min-width: 1500px) {
      padding: 0 15rem 0 15rem;
    }
    @media (min-width: 1800px) {
      padding: 0 20rem 0 20rem;
    }
  }

  &-stats { 
    flex: 0 0 50%;
    display: flex;
    
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.08);
    
    @media (max-width: 1200px) {
      border-right: none; 
    }
    
    @media (max-width: 1100px) {
      border-right: none; 
      flex: 1;
      order: 1;
    }
  
    &-box {
      border: 1px solid #4A4A4A; 
      border-radius: 5px;
      padding: 10px 30px;
      color: $color-primary-light;
      font-weight: 300 !important;
  
      @media (max-width: 1100px) {
        align-self: flex-start; 
      }
      
      @media (min-width: 1500px) {
        padding: 15px 40px;
        
      }
  
      & table {
        border-collapse: collapse;
        color: $color-primary-light;
      }
      
      & tr {
        text-align: left;
  
        &:not(:last-child) {
          border-bottom: 1px solid $color-primary-dark;
        }
      
        & td {
          padding: 10px 10px !important;
          
          @media (max-width: 1000px) {
            padding: 6px 6px !important;
            width: 100px;
          }
          
            &:last-child {
              text-align: right; 
              font-size: 20px;
              
              @media (max-width: 1000px) {
                font-size: 18px;
              }
  
              @media (min-width: 1500px) {
                font-size: 25px;
              }
            }
          @media (max-width: 1000px) {
            font-size: 16px;
          }
  
          @media (min-width: 1500px) {
            font-size: 20px;
          }
        }
      }
    }
    
    & h4 {
      color: $color-primary-dark;
      font-weight: 300;
      font-size: 1.4rem;
      text-transform: uppercase;
  
      @media (max-width: 1000px) {
        font-size: 1.2rem;
      }
    }
    & p {
      font-weight: 300;
      @media (min-width: 1500px) {
        font-size: 20px;
      }
    }
  }
  
  &-update {
    font-weight: 300;
    flex: 0 0 35%;
    margin: auto 0;
  
    display: flex;
    align-items: space-between;
    
    @media (max-width: 1100px) {
      text-align: center;
      flex: 0 0 40%;
    }
  }
  
  &-update-text {
    color: $color-primary-light;
    
    @media (max-width: 1100px) {
      align-self: center;
    }
    
    & p {
      margin-bottom: 15px;
      
      @media (min-width: 1500px) {
        font-size: 20px;  
      }
    }
  
    & a {
      color: rgb(30, 160, 240) !important;
      text-decoration: none !important;
  
      &:hover {
        color: rgb(20, 105, 155) !important;
      }
    }
  
    & svg {
      width: 22px;
      height: 22px;
      fill: currentColor;
  
      @media (min-width: 1500px) {
        width: 25px;
        height: 25px;  
      }
    }
  }
  
  &-update-text h6 {
    font-weight: 300 !important;
    font-size: 35px;
    color: $color-primary-dark;
    margin: 0;
    
    @media (max-width: 1500px) {
      font-size: 30px;
    }
    @media (min-width: 1500px) {
      font-size: 40px;
    }
  }
  
  &-update-text h6 span {
    display: block;
    font-size: 25px;
  
    @media (max-width: 1500px) {
      font-size: 20px;
    }
    @media (min-width: 1500px) {
      font-size: 30px;
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;

  &-list {
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: -3px;    
    text-transform: uppercase;
    
    @media (max-width: 1000px) {
      position: fixed;
      top: -100%;
      transition: all .4s;
      flex-direction: column;
      align-items: center;
      left: 50%;
    }
  }
  
  &-button {
    text-decoration: none !important;
    color: $color-primary-light !important;
    padding: 5px 3px 0 3px;
    transition: all .3s;
    border-top: 1px solid transparent !important;
    
    &:hover {
      color: rgb(200, 50, 50) !important;
      border-top: 1px solid currentColor !important;
    }
  
    @media (min-width: 1500px) {
      font-size: 1.3rem;
    }
  }
  
  & input {
    display: none;
  }
  
  &-bg {
    position: fixed;
    top: -100%;
    left: 0;
    width: 0;
    height: 0;
    z-index: 200;
    background-color: $color-bg;
    transition: all .4s;
    
    @media (max-width: 1000px) {
      width: 100vw;
      height: 100vh;
    }
  }
  
  & input:checked ~ &-bg {
    top: 0;
  }
  
  & input:checked ~ &-list {
    z-index: 300;
    top: 50%;
    transform: translate(-50%, -50%);
  
    & li {
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: 300;
      & a:hover {
        border-top: 1px solid transparent !important;
      }
    }
  } 
  
  & label {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
    top: 20%;
    right: 5%;
    background-color: rgb(155, 155, 155);
    border-radius: 10px;
    z-index: 300;
    @media (max-width: 1000px) {
      height: 45px;
      width: 45px;
      visibility: visible;
      & span {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        &, 
        &::before,
        &::after {
          position: absolute;
          background-color: #fff;
          width: 25px;
          height: 2px;
        }
        &::before {
          left: 0;
          content: "";
          position: absolute;
          transform: translateY(-10px);
        }
        
        &::after {
          left: 0;
          content: "";
          position: absolute;
          transform: translateY(10px);
        }
      }
    }
  }
}