@charset "UTF-8";
@import "common";

#wrapper,
html,
body {
  background-color: rgb(65, 10, 130);
}

.warn {
  color: #ff0000;
}

::selection {
  color: #fff;
  background: #49f;
}

.card:nth-child(odd) {
  border-radius: 3px;
  color: #fff;
  background-image: linear-gradient(to right bottom,
                                  rgba(190, 20, 230, .8),
                                  rgba(100, 15, 185, .8));
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right,
                              rgba(55, 140, 220, .5),
                              rgba(100, 15, 185, .5));
  -webkit-box-shadow: 0 .8rem 1rem rgba(0, 0, 0, .3);
  box-shadow: 0 .8rem 1rem rgba(0, 0, 0, .3);
}

.card:nth-child(even) {
  border-radius: 3px;
  color: #fff;
  background-image: linear-gradient(to right bottom,
                                  rgba(55, 140, 220, .8),
                                  rgba(115, 25, 240,.2));
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right,
                              rgba(55, 140, 220, .5),
                              rgba(100, 15, 185, .5));
  -webkit-box-shadow: 0 .8rem 1rem rgba(0, 0, 0, .3);
  box-shadow: 0 .8rem 1rem rgba(0, 0, 0, .3);
}

.card h6 {
  color: #fff;
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.card p {
  font-size: .9rem;
  font-weight: 100;
}


a {
  color: rgb(255, 255, 0);
}

a:visited {
  color: rgb(255, 255, 0);
}

button {
  color: rgb(60, 60, 60);
  background-color: rgb(255, 255, 0);
}

form input {
  background-color: rgba(130, 0, 130, 0.5);
  padding: 10px;
  color: #fff;
  transition: all .8s;
  margin-bottom: 10px;
}

form input:focus {
  background-color: rgba(130, 0, 130, 0.8);
  outline: none;
}

form textarea {
  background-color: rgba(130, 0, 130, 0.5);
  padding: 10px;
  color: #fff;
  transition: all .8s;
  margin-bottom: 10px;
}

form textarea:focus {
  background-color: rgba(130, 0, 130, 0.8);
  outline: none;
}

select {
  background-color: #f2f2f2;
  color: #000;
  margin-right: 20px;
}