#wrapper, html, body {
  border: 0px;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  //background-image: url("background.jpg");
  visibility: visible;
}

::selection {
  background: #ffffff; /* WebKit/Blink Browsers */
  color: #000000;
}
::-moz-selection {
  background: #ffffff; /* Gecko Browsers */
  color: #000000;
}

#wrapper {
  max-width: 100%;
  width: 100%;
}

html, body {
  width: 100vw;
  max-width: 100vw;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#column {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #0000ff;
}

a:hover {
  text-decoration: underline;
}

a:active {
  position: relative;
  top: 0.05em;
}

a:visited {
  color: #0000ff;
}

.photo {
  width: 100%;
  margin: auto;
  img, a {
    width: inherit;
    height: inherit;
  }
}