#wrapper, html, body {
  border: 0px;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  background-color: #000000;
  visibility: visible;
}

html, body {
  width: 100vw;
  height: 100vh;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#wrapper {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #0000ff;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

a:hover {
  text-decoration: underline;
}

a:active {
  position: relative;
  top: 0.05em;
}

a:visited {
  color: #0000ff;
}

img {
  max-width: 100vw;
  max-height: 100vh;
  object-fit: scale-down;
}